@import url('https://fonts.googleapis.com/css2?family=Harmattan&family=Lemonada&display=swap');


header.saad{
    /* background: #1a237e; */
    background: #212121;
    background-size: cover;
    background-position: center;
    min-height: 550px;
}
@media screen and (max-width: 640px){
    header.saad{
        min-height: 500px;
    }
    .main-img{
        margin-top: 15px;
        margin-bottom: 25px;
        max-height: 300px;
    }
}
@media screen and (max-width: 520px){
    .main-img{
        margin-top: 15px;
        margin-bottom: 25px;
        max-height: 250px;
    }
}
@media screen and (max-width: 420px){
    .main-img{
        margin-top: 15px;
        margin-bottom: 25px;
        max-height: 200px;
    }
}
@media screen and (max-width: 370px){
    .main-img{
        margin-top: 15px;
        margin-bottom: 25px;
        max-height: 180px;
    }
}
p{
    color: white;
}
/* #cont{
    margin-top: 3.5%;
} */
.containe{
    width: 750px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 3.5% 8%;
   
}

.containe .card{
    /* position: relative; */
    cursor: pointer;
}

.containe .cardlove{
    position: relative;
    cursor: pointer;
}
.containe .card .face{
    width: 225px;
    height: 175px;
    transition: 0.5s;
}



.containe .face.face1{
    position: relative;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containe .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.containe .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.containe .card:hover .face.face1 .content{
    opacity: 1;
}

.containe .face.face1 .content img{
    max-width: 50px;
}

.containe .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

.containe .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-75px);
}

.containe .card:hover .face.face2{
    transform: translateY(0);
}

.containe .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.containe .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containe .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
/* body{
    font-family: 'Nunito', sans-serif;
    padding: 50px;
  } */
  .cad{
      border-radius: 4px;
      background: white;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }
  
  .cad:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .cad h3{
    font-weight: 600;
  }
  
  .cad img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-1{
    background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-2{
     background-image: url(https://img.icons8.com/ios/452/arduino-uno-board.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-3{
     background-image: url(http://simpleicon.com/wp-content/uploads/Code-Optimization-2.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  @media(max-width: 990px){
    .cad{
      margin: 20px;
    }
  } 
